@model MvcProje1.Models.Entity.TBLKATEGORILER
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_Mainlayout.cshtml";
}@using (Html.BeginForm("Guncelle", "Kategori", FormMethod.Post))
{
    ///GUNCELLEME/////
    <div class="form-group">
        @Html.LabelFor(m => m.KATEGORIID)
        @Html.TextBoxFor(m => m.KATEGORIID, new { @class = "form-control" })
        @Html.LabelFor(m => m.KATEGORIAD)
        @Html.TextBoxFor(m => m.KATEGORIAD, new { @class = "form-control" })
    </div>

    <div>
        <button class="btn btn-primary">Güncelle</button>
    </div>
}


