@model MvcProje1.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_Mainlayout.cshtml";
}

<h2>UrunEkle</h2>

<form class="form-group" method="post">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="URUNAD" />

    </div>
    <div>
        <label>Markası</label>
        <input type="text" class="form-control" name="MARKA" />

    </div>
    <div>
        <label>Kategori</label>
     @Html.DropDownListFor(m=> m.TBLKATEGORILER.KATEGORIID,(List<SelectListItem>)ViewBag.dgr,new {@class="form-control"})

    </div>
    <div>
        <label>Ürün Fiyatı</label>
        <input type="text" class="form-control" name="FIYAT" />

    </div>
    <div>
        <label>Stok</label>
        <input type="text" class="form-control" name="STOK" />

    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Kategori Ekle</button>
    </div>
</form>